In [1]:
"""
Created on Fri May 18 23:44:52 2018

@author: rocio
"""

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import customutils

### Data cleaning

Reading data from tsv file and selecting rows that contains producs and categories. To make easier de column references we will change the column names. Additionale we remove duplicates of the resulting dataframe.

In [2]:
df = pd.read_csv("./CAERS_ASCII_2004_2017Q2.tsv", sep="\t")

df_products = df[['PRI_Reported Brand/Product Name', 
                 'PRI_FDA Industry Code', 
                 'PRI_FDA Industry Name']]

df_products.columns = ['productname', 'categorycode', 'categoryname']
df_products = df_products.drop_duplicates()
df_products.head()

,productname,categorycode,categoryname
0,MIDWEST COUNTRY FAIR CHOCOLATE FLAVORED CHIPS,3,Bakery Prod/Dough/Mix/Icing
2,KROGER CLASSIC CREAM-DE-MINT CANDY MINT CHIP I...,13,Ice Cream Prod
3,ENFAMIL LIPIL BABY FORMULA,40,Baby Food Prod
4,ENFIMIL LIPIL BABY FORMULA,40,Baby Food Prod
5,"FRITO LAY FUNYUNS ONION FLAVOR, ONION RINGS",7,Snack Food Item

In [3]:
df_products.shape

(46002, 3)

#### How many different elements are there in each column?

In [4]:
#Number of category codes
dfsum = pd.DataFrame(data=[['categorycodes', len(df_products.categorycode.unique())], 
                           ['categorynames', len(df_products.categoryname.unique())],
                           ['porductnames', len(df_products.productname.unique())]],
                     columns = ['column', 'nuniquevalues'])

In [5]:
dfsum

          column  nuniquevalues
0  categorycodes             44
1  categorynames             41
2   porductnames          45685

#### Why is the number of 'category codes' is different to the number of 'category names'?

It should have some codes with the same name. Let's check it.

In [ ]:
df_catgories = df_products[['categorycode', 'categoryname']]
df_catgories = df_catgories.drop_duplicates()

In [17]:
df_categories_count = customutils.count(df_catgories, ['categorycode'])
df_categories_count[df_categories_count['count']>1]

   categorycode  count
0             2      2

The category with code 2 has two names:

In [19]:
df_catgories[df_catgories['categorycode']==2]['categoryname']

156      Whole Grain/Milled Grain Prod/Starch
63953                           Not Available
Name: categoryname, dtype: object

In some rows, it seems that the name of the category with code 2 is missing. We'll replace 'Not Available' for 'Whole Grain/Milled Grain Prod/Starch' for solving this issue.

In [20]:
df_products.loc[df_products['categorycode']==2, ['categoryname']] = 'Whole Grain/Milled Grain Prod/Starch'
df_catgories.loc[df_catgories['categorycode']==2, ['categoryname']] = 'Whole Grain/Milled Grain Prod/Starch'

*Are there names with several category codes?*

In [22]:
df_categories_count = customutils.count(df_catgories, ['categoryname'])
df_categories_count[df_categories_count['count']>1]

                            categoryname  count
20                      Fruit/Fruit Prod      3
17            Food Additives (Human Use)      2
37         Vegetables/Vegetable Products      2
39  Whole Grain/Milled Grain Prod/Starch      2

It seems that some category codes have the same name, however, we'll keep it that way.

** Products: ** How many products ar ther for each category?

In [23]:
df_product_count = customutils.count(df_products, ['categorycode', 'categoryname'])

In [24]:
df_product_count.head()

    categorycode                            categoryname  count
43            54  Vit/Min/Prot/Unconv Diet(Human/Animal)  22373
42            53                               Cosmetics   4154
1              3             Bakery Prod/Dough/Mix/Icing   1832
16            23                        Nuts/Edible Seed   1529
22            29                        Soft Drink/Water   1501

In [29]:
sns.set_context("notebook", font_scale=1.5, rc={"axes.facecolor": ".9"})

fig, ax = plt.subplots()
# the size of A4 paper
fig.set_size_inches(11.7, 8.27)

sns.barplot(y='count', x='categoryname', data=df_product_count)
for item in p.get_xticklabels():
    item.set_rotation(90)

In [28]:
p.show()

AttributeError: 'AxesSubplot' object has no attribute 'show'